.product {

  margin-top: 35px;
  margin-left: 25px;
  border: 1px solid gainsboro;
  width: 300px;
  height: 535px;


}

.product img {
  width: 286px;
  height: 286px;
  padding: 7px;
}





.product h1 {
  font-size: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn {
  margin-bottom: 25px;
  text-align: center;
  width: 300px;
  height: 48px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  cursor: pointer;
}

.btn:hover {
  background-color: bisque;

}

.product-dtl {
  padding-left: 7px;
}